body {
  font-weight: 300;
  font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
  background: #17394d;
}

header h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

header span{
  cursor: pointer;
  color:white;
  font-size: 1em;
  font-weight: 500;
}

trello-board {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-auto-rows: max-content;
  grid-auto-flow: row dense;
  margin: 1.5em 1em;
}